<strong>Fala {{ username }}, beleza?</strong>

<p>Uma nova tarefa foi assinada a você: <strong>{{ title }}</strong></p>

@if(hasAttachment)
  <p>Em anexo, você encontratá detalhes dessa tarefa</p>
@endif
